server:
  port: 9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:9876/eureka/

spring:
  application:
    name: USER-INFORMATION-SERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/userdb
    username: root
      password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQLDialect